body {  background-color: #67bed8;
		color: #555555; 
        font-family: Arial, Helvetica, sans-serif;
}
h1  { margin-bottom: 0; 
      font-family: Georgia, "Times New Roman", serif; }
h2  { color: #407386; 
      font-family: Georgia, "Times New Roman", serif; }
h3 { color: #29485d;
     font-family: Georgia, "Times New Roman", serif; }
